#div-search {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#div-search h2{
    color: #2e2e4c;
}

#form-search {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-search button {
    margin: 10px auto;
    display: block;
    width: 300px;
    height: 50px;
    background-color: #080c34;
    border-color: #080c34;
    color: white;
    font-weight: 600;
    border: 0;
    font-size: 18px;
}

#form-search button:hover {
    background-color: #545a9b;
    border-color: #545a9b;
    transition: background-color 300ms ease 0ms;
}

#div-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.div-field {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-field input[type='date'] {
    width: 200px;
    height: 30px;
    border: 1px solid #c5c5c5;
    font-size: 18px;
    color: #525252;
    padding-left: 20px;
}

.div-field  select {
    width: 223px;
    height: 30px;
    border: 1px solid #c5c5c5;
    font-size: 18px;
    color: #525252;
    padding-left: 20px;
}

.field-label {
    font-size: 20px;
    color: #525252;
    margin-bottom: 10px;
}

.div-errors {
    color: #787878;
    font-style: italic;
}

/* комнаты */
#form-booking input[type="submit"] {
    margin-left: 20px;
    margin-top: 20px;

    display: block;
    width: 300px;
    height: 60px;
    background-color: #080c34;
    border-color: #080c34;
    color: white;
    font-weight: 600;
    border: 0;
}

#form-booking input[type="submit"]:hover {
    background-color: #545a9b;
    border-color: #545a9b;
    transition: background-color 300ms ease 0ms;
}
