#contacts-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 50px;
    font-size: 16px;
}

#contacts-data {
    background-color: #080c34;
    width: 500px;
    height: 600px;
}

#contacts-data {
    color: white;
}

#contacts-data div {
    margin: 20px 30px;
}

#contacts-data div h3{
    margin-bottom: 10px;
}

#contacts-data div p{
    margin-bottom: 10px;
}

#contacts-data a {
    color: #2ea3f2;;
}

#contacts-data a:hover {
    text-decoration: underline;
}

#contacts-img {
    width: 500px;
    height: 600px;
}

#contacts-img img{
    width: 100%;
    height: 100%;
}

#feedback-form-wrapper {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#feedback-form {
    width: 500px;
    height: 400px;
    border: 1px solid #080c34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 16px 5px #080c34;
}

#feedback-form input[type="text"], input[type="tel"]{
    margin-bottom: 10px;
    width: 400px;
    height: 40px;
    padding-left: 20px;
}

#feedback-form textarea{
    margin-bottom: 10px;
    padding-left: 20px;
    width: 400px;
    height: 40px;
    max-height: 80px;
    max-width: 400px;
    min-height: 40px;
    min-width: 400px;
}

#feedback-form h1 {
    color: #080c34;
}

#feedback-form button {
    margin: 10px auto;
    display: block;
    width: 100px;
    height: 30px;
    background-color: #080c34;
    border-color: #080c34;
    color: white;
    font-weight: 600;
    border: 0;
}

#feedback-form button:hover {
    background-color: #545a9b;
    border-color: #545a9b;
    transition: background-color 300ms ease 0ms;
}

#p-sent {
    text-align: center;
    font-style: italic;
    color: #080c34;
}


