html, body {
    height: 100%;
    width: 100%;
}

body{
    position: relative;
}

.formModal {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    background: rgba(255, 255, 255, 0.5);
    z-index: 9999;      /* поверх всех элементов */
    opacity: 0.95;

    /*выравнивание idDivModal0 поцентру formModal*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div[id="idDivModal0"]{
    height: 60%;
    width: 60%;
    background-color: #ffffff;
    border: 1px solid grey;
    /*border-radius: 50%;*/

    /*выравнивание idDivModal1 поцентру этого div*/
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div[id="idDivModal1"]{
    height: 80%;
    width: 80%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#idDivModal1 p {
    font-size: 20px;
}

input[id="idModalClose"]{
    width: 50%;
    height: 30px;
    text-align: center;
    background-color: #080c34;
    border-color: #080c34;
    color: white;
    font-weight: 600;
    border: 0;
}

#idDivModal1 h1 {
    font-size: 55px;
    text-align: center
}

