#main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#main_search {
    margin: 10px 0 0 0;
    background-color: #040b48;
    width: 100%;
    height: 100px;
}

#main_info {
    margin: 10px 0;
    background-color: #040b48;
    width: 100%;
    height: 150px;
}

#main_info p {
    color: white;
    font-size: 28px;
    padding: 0px 50px;
    text-align: justify;
    position: absolute;
    top: 50%;
}



#form-search {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-search button {
    margin: 10px auto;
    display: block;
    width: 150px;
    height: 30px;
    background-color: #d77527;
    border-color: #d77527;
    color: white;
    font-weight: 600;
    border: 0;
    font-size: 15px;
}

#form-search button:hover {
    background-color: #e99553;
    border-color: #e99553;
    transition: background-color 300ms ease 0ms;
}

#div-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.div-field {
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-field input[type='date'] {
    width: 150px;
    height: 30px;
    border: 1px solid #c5c5c5;
    font-size: 18px;
    color: #525252;
    padding-left: 20px;
}

.div-field  select {
    width: 173px;
    height: 30px;
    border: 1px solid #c5c5c5;
    font-size: 18px;
    color: #525252;
    padding-left: 20px;
}

.field-label {
    font-size: 20px;
    color: #525252;
    margin-bottom: 10px;
}

.div-errors {
    color: #787878;
    font-style: italic;
}

/*---------------------------*/
#main_hello {
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#data {
    width: 40%;
    /*height: 30px;*/
    text-align: justify;
}

#data h1 {
    font-size: 40px;
}

#data p {
    margin: 10px 0;
}

#contacts {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contacts_png {
    width: 20px;
    height: 20px;
}

.contact_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    margin: 20px 0;
}

.contact-data {
    margin: 0 20px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: space-between;
    color: black;
}

.contact-data a{
    color: black;
}

