.room {
    height: 450px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 30px auto;
    box-shadow: 0px 0px 6px 2px #afb0c1;
}


.photos{
    height: 100%;
    width: 550px;
}

.room-options{
    height: 100%;
    width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
}

.room-img-list {
    height: 100%;
    width: 100%;
}

.owl-carousel-rooms{
    height: 100%;
}

.owl-dots{
  position: absolute;
  bottom: 10px;
  left:25%;
  right:25%;
}

.room-options li {
    color: #545a9b;
    margin-bottom: 10px;
    margin-left: 0px;
}

.room-options h2 {
    color: #080c34;
    margin-bottom: 20px;
    margin-left: 20px;
    font-weight: 600;
}

.room-options button {
    margin-left: 20px;
    margin-top: 20px;

    display: block;
    width: 300px;
    height: 60px;
    background-color: #080c34;
    border-color: #080c34;
    color: white;
    font-weight: 600;
    border: 0;
}

.room-options button:hover {
    background-color: #545a9b;
    border-color: #545a9b;
    transition: background-color 300ms ease 0ms;
}

