#data-booking {
    width: 100%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


#booking-form {
    width: 900px;
    /*height: 400px;*/
    border: 1px solid #080c34;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0px 0px 16px 5px #080c34;
    margin-top: 50px;
}


#booking-form input[type="text"], input[type="tel"]{
    margin-bottom: 10px;
    width: 200px;
    height: 40px;
    padding-left: 20px;
    font-size: 16px;
}

#booking-form textarea{
    margin-bottom: 10px;
    padding-left: 20px;
    width: 800px;
    height: 40px;
    max-height: 80px;
    max-width: 800px;
    min-height: 40px;
    min-width: 800px;
    font-size: 16px;
}

#booking-form h1 {
    color: #080c34;
}

#booking-form button {
    margin: 10px auto;
    display: block;
    width: 150px;
    height: 50px;
    background-color: #080c34;
    border-color: #080c34;
    color: white;
    font-weight: 600;
    border: 0;
}

#booking-form button:hover {
    background-color: #545a9b;
    border-color: #545a9b;
    transition: background-color 300ms ease 0ms;
}

#booking-fields {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: start;
    align-items: space-around;
    margin: 20px;
}

.div-errors {
    width: 250px;
    font-size: 12px;
    color: #787878;
    font-style: italic;
}

.div-field {
}

.booking-attr {
    font-size: 18px;
}

#WaitDialog {
    position: fixed;
    left: 40%;
    top: 40%;
    height: 100%;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    z-index: 9999;      /* поверх всех элементов */
    opacity: 0.95;
    display: none;
}

#WaitDialog img {
    width: 200px;
    height: 200px;
}




